<section class="checkout-wrapper section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form id="registration_form" action="/edituseraddress" method="post">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">
                            <li>
                                <h6 class="text-primary">
                                    Edit Your Address
                                </h6>
                                <section class="checkout-steps-form-content collapse show mt-3">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>User Name</label>
                                                <div class="row">
                                                    <div class="col-md-6 form-input form">
                                                        <input
                                                            type="text"
                                                            name="firstname"
                                                            value="{{addressDetails.firstname}}"
                                                        />
                                                    </div>
                                                    <div class="col-md-6 form-input form">
                                                        <input
                                                            type="text"
                                                            name="lastname"
                                                            value="{{addressDetails.lastname}}"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Email Address</label>
                                                <div class="form-input form">
                                                    <input type="text" name="email" value="{{addressDetails.email}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Address</label>
                                                <div class="form-input form">
                                                    <input type="text" name="address" value="{{addressDetails.address}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Phone Number</label>
                                                 <span style="margin-left: 10px;" class="error_form text-danger" id="mob_error_message"></span>
                                                <div class="form-input form">
                                                    <input
                                                        type="text"
                                                        name="phoneNumber"
                                                        id="form_mob" 
                                                        onchange="check_mob()"
                                                        value="{{addressDetails.phoneNumber}}"
                                                    />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>State</label>
                                                <div class="form-input form">
                                                    <input type="text" name="state" value="{{addressDetails.state}}" />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>City</label>
                                                <div class="form-input form">
                                                    <input type="text" name="city" value="{{addressDetails.city}}" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>PIN Code</label>
                                                <div class="form-input form">
                                                    <input
                                                        type="number"
                                                        name="pincode"
                                                        value="{{addressDetails.pincode}}"
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <input type="text" name="addressId" value="{{addressDetails._id}}" hidden />
                                        <input type="text" name="userId" value="{{userId}}" hidden />
                                        <div class="col-md-12">
                                            <div class="single-form button">
                                                <button class="btn" type="submit">
                                                    Update
                                                </button>
                                                <a href="#" style="background-color: red;" class="btn ml-2" onclick="cancelUpdate(event)" > Cancel</a>
                                            </div>
                                            
                                        </div>
                                    </div> 
                                </section>
                            </li>

                        </ul>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
      function cancelUpdate(event){
        event.preventDefault();
         Swal.fire({
        title: 'Confirm YES !',
        text: "To Cancel the Updations",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'YES'
    }).then((result)=>{
        if(result.isConfirmed){
            window.location ='/userAddress'
        }
    })
    }  
</script>
<script>
    $("#mob_error_message").hide()

    var error_mobno = false;

    $("#form_mob").focusout(function () {
     check_mob();
     });

     function check_mob() {
         var pattern = /([0-9]{10})|(\([0-9]{3}\)\s+[0-9]{3}\-[0-9]{4})/;
         var mob = $("#form_mob").val();
         if (pattern.test(mob) && mob !== '' && mob.length == 10) {
           $("#mob_error_message").hide();
           $("#form_mob").css("border-bottom", "2px solid #34F458");
           } else {
            $("#mob_error_message").html("Invalid Mobile NO");
            $("#mob_error_message").show();
            $("#form_mob").css("border-bottom", "2px solid #F90A0A");
            error_mobno = true;
           
          }
        }


$("#registration_form").submit(function (event) {

  error_mobno = false;


 
  check_mob();
 

  if (error_mobno === true) {

    event.preventDefault()
  } 


});
     
         
</script>